/*
 * Botão Hambúrguer (Menu Toggle)
 * Configurações de posicionamento, transição e estado inicial.
 */
#hamburguer-menu {
  background-color: rgba(var(--color-dark-rgb), 0.1);
  top: 4%;
  left: 2%;
  padding: 10px;
  border-radius: 20%;
  position: fixed;
  cursor: pointer;
  z-index: 2; /* Garante que fique acima do conteúdo principal */
  transition: transform 0.3s ease; /* Transição para o movimento horizontal (quando a sidebar abrir) */
}

/* As três linhas internas do Hambúrguer */
.hamburguer-button {
  background-color: black;
  width: 25px;
  height: 2px;
  margin: 3px;
  transition: transform 0.3s ease; /* Transição para animar a transformação em "X" */
}

/* * Estado Ativo do Menu Hambúrguer (.active) 
 * Movimenta o botão e transforma as linhas em um 'X'.
 */
#hamburguer-menu.active {
  /* Move o menu para a direita */
  transform: translateX(130px);
}

/* Primeira linha: Gira e move para baixo (parte superior do 'X') */
#hamburguer-menu.active .hamburguer-button:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

/* Segunda linha: Gira para formar o centro do 'X' (ajuste para 45deg se não for opaca) */
#hamburguer-menu.active .hamburguer-button:nth-child(2) {
  transform: rotate(-45deg); /* Se for para sumir, use: opacity: 0; */
}

/* Terceira linha: Gira e move para cima (parte inferior do 'X') */
#hamburguer-menu.active .hamburguer-button:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
